{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
      
    .affix {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      display: none;
    }

    .modal {
      text-align: center;
    }

    @media screen and (min-width: 768px) { 
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
    

    body {
      background-image: url('{% static "chat/bw-paper-g5eeefba0b_640.jpg" %}');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: 100% 100%;
    }


    </style>

    {% if title %}
        <title>Chat - {{ title }}</title>
    {% else %}
        <title>Chat</title>
    {% endif %}
</head>
  <body>
    <script>
      var w = window.innerWidth;
      var w_sw = 700; //switch width
    </script>
    <header class="site-header">
      <script>
        if (w > w_sw) {
            document.write("<div class='container-fluid' style='height:30px;'>");
            document.write("</div>");
        }
      </script>
      <nav class="navbar navbar-default" >
        <div class="container-fluid" >
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'chat-home' %}">Simplechat</a>
          </div>
          <ul class="nav navbar-nav">
            <script>
              if (w > w_sw) {
                  document.write("<li><a href='{% url 'chat-home' %}''>Home</a></li>");
              }
            </script>
            <li><a href="{% url 'chat-view' %}">Chat</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <script>
              if (w > w_sw) {
                document.write("<li><a>{{user}}</a></li>");
                document.write("<li><a href='{% url 'profile' %}'><span class='glyphicon glyphicon-user'></span> Profile</a></li>");
              }else {
                document.write("<li><a href='{% url 'profile' %}'><span class='glyphicon glyphicon-user'></span> {{user}}</a></li>");
              }
            </script>
            <li><a href='javascript:;' data-toggle="modal" data-target="#logOutModal">
              <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <!-- Modal -->
    <div id="logOutModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Logout?</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to logout?</p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'logout' %}" class="btn btn-danger btn-sm mt-1 mb-1">Yes, Logout</a>
            <button type="button" class="btn btn-primary btn-sm mt-1 mb-1" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- jQuery Affix clone -->
    <script>
      if (w > w_sw) {
        var target = $('.navbar')
        target.after('<div class="affix" id="affix"></div>')
        var affix = $('.affix')
        affix.append(target.clone(true))

        // Show affix on scroll.
        var element = document.getElementById('affix')
        if (element !== null) {
          var position = target.position()
          window.addEventListener('scroll', function () {
            var height = $(window).scrollTop()
            if (height > position.top) {
              target.css('visibility', 'hidden')
              affix.css('display', 'block')
            } else {
              affix.css('display', 'none')
              target.css('visibility', 'visible')
            }
          })
        }
      }
    </script> 
  </body>
</html>