{% extends "forum/base.html" %}
{% block content %}
<script>
    if (w > w_sw) {
        document.write("<div class='container'>");
    }
</script>
    <div class="well"><h2>Simple message board - {{ title }}</h2></div>
    {% for post in posts %}
        <div class="media">
            <div class="well">
                <div class="media-body">
                    <small class="text-muted">{{ post.date_last_save|date:"H:i d, m, Y" }}</small>
                    {% if user.is_authenticated %}
                        <a class="mr-2" href="{% url 'forum_user_info' post.id %}">
                            {% if post.author.profile.nickname %}
                            {{ post.author.profile.nickname }}
                            {% else %}
                            {{ post.author }}
                            {% endif %}
                        </a>
                    {% endif %}
                <script>
                    if (w > w_sw) {
                        
                    }else {
                        document.write("</div>");
                    }
                </script>
                <div class="well">
                    <p class="article-content">{{ post.content | safe }}</p>
                </div>
                <script>
                    if (w > w_sw) {
                        document.write("</div>");
                    }
                </script>
            </div>
        </div>
    {% endfor %}
    <div class="well well-sm">
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
			
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
	
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>   
                    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    </div>
<script>
    if (w > w_sw) {
        document.write("</div>");
    }
</script>
{% endblock content %}