{% extends "chat/base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Change Password for user: {{ user }}</legend>
				<div class="row">
					<div class="col-sm-3">
						<label>Old password:*</label><br>
						{{ form.old_password }}
						{{ form.old_password1.errors }}<br><br>
						<label>New password:*</label><br>
						{{ form.new_password1 }}
						{{ form.new_password1.help_text }}
						{{ form.new_password1.errors }}<br><br>
						<label>New password confirmation:*</label><br>
						{{ form.new_password2 }}
						{{ form.new_password2.errors }}<br><br>
					</div>
				</div>
			</fieldset>
			<button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Save</button>
			<a class="btn btn-primary btn-sm mt-1 mb-1" href="javascript:history.go(-1)">Back</a>
		</form>
	</div>
</div>
{% endblock content %}
