
{% extends "chat/base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Login</legend>
				{{ form.as_p }}
			</fieldset>
			<button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Login</button>
			<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'chat-home'  %}">Return to Index</a>
			<br><br>
			<small class="text-muted ml-2">
				<a href="{% url 'password_reset' %}">Forgot Password?</a>
			</small>
		</form>
	</div>
</div>
{% endblock content %}
