{% extends "forum/base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
